[submodule "libs/cairo"]
	path = libs/cairo
	url = https://github.com/tordex/cairo
[submodule "libs/freeimage"]
	path = libs/freeimage
	url = https://github.com/tordex/freeimage
[submodule "libs/txdib"]
	path = libs/txdib
	url = https://github.com/tordex/txdib
[submodule "libs/simpledib"]
	path = libs/simpledib
	url = https://github.com/tordex/simpledib
[submodule "libs/litehtml"]
	path = libs/litehtml
	url = https://github.com/litehtml/litehtml
